<html th:replace="~{layout/defaultLayout :: layout (~{::title}, ~{::section})}"
      lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Inside : 회원가입</title>
</head>
<body>
<section>
    <div class="row justify-content-center">
        <div class="col-md-6 text-center" style="max-width: 400px">
            <h1>회원가입</h1>
            <form th:action th:object="${joinDto}" method="post">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="username" th:field="*{username}" placeholder="Username">
                    <label for="username">Username</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="password"  th:field="*{password}" placeholder="Password">
                    <label for="password">Password</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="verifyPassword" th:field="*{verifyPassword}" placeholder="Verify Password">
                    <label for="verifyPassword">Verify Password</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="email" th:field="*{email}" placeholder="Email">
                    <label for="email">Email</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="phoneNumber" th:field="*{phoneNumber}" placeholder="Phone number">
                    <label for="phoneNumber">Phone number</label>
                </div>
                <button class="btn btn-primary" type="submit">회원가입</button>
            </form>
            <div class="float-right">
                <a class="btn btn-primary" href="/login" style="float: right">뒤로가기</a>
            </div>
        </div>
    </div>
</section>
</body>
</html>