<html th:replace="~{layout/defaultLayout :: layout (~{::title}, ~{::section})}"
      lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Inside : 회원가입</title>
</head>
<body>
<section>
    <div class="row justify-content-center">
        <div class="col-md-6 text-center" style="max-width: 400px">
            <h1 class="my-5 fw-bold">
                <a href="/" class="text-decoration-none text-reset">INSIDE</a>
            </h1>
            <form th:action th:object="${joinDto}" method="post">
                <div class="form-floating mb-3 text-start">
                    <input type="text" class="form-control" id="username" placeholder="아이디"
                           th:field="*{username}" th:errorclass="border-danger">
                    <label for="username">아이디</label>
                    <div class="alert alert-danger mt-1 py-1 " role="alert" th:errors="*{username}"></div>
                </div>
                <div class="form-floating mb-3 text-start">
                    <input type="password" class="form-control" id="password" placeholder="비밀번호"
                           th:field="*{password}" th:errorclass="border-danger">
                    <label for="password">비밀번호</label>
                    <div class="alert alert-danger mt-1 py-1" role="alert" th:errors="*{password}">
                    </div>
                </div>
                <div class="form-floating mb-3 text-start">
                    <input type="password" class="form-control" id="verifyPassword" th:field="*{verifyPassword}" placeholder="비밀번호 확인">
                    <label for="verifyPassword">비밀번호 확인</label>
                    <div class="alert alert-danger mt-1 py-1" role="alert" th:errors="*{verifyPassword}">
                    </div>
                    <div th:if="${#fields.hasGlobalErrors()}">
                        <div class="alert alert-danger mt-1 py-1" th:each="err : ${#fields.globalErrors()}"
                           th:text="${err}">글로벌 오류 메시지</div>
                    </div>
                </div>
                <div class="form-floating mb-3 text-start">
                    <input type="text" class="form-control" id="name" th:field="*{name}" placeholder="이름">
                    <label for="name">이름</label>
                    <div class="alert alert-danger mt-1 py-1" role="alert" th:errors="*{name}">
                    </div>
                </div>
                <div class="form-floating mb-3 text-start">
                    <input type="text" class="form-control" id="email" th:field="*{email}" placeholder="Email">
                    <label for="email">Email</label>
                    <div class="alert alert-danger mt-1 py-1" role="alert" th:errors="*{email}">
                    </div>
                </div>
<!--                <div class="form-floating mb-3 text-start">
                    <input type="text" class="form-control" id="phoneNumber" th:field="*{phoneNumber}" placeholder="휴대폰 번호">
                    <label for="phoneNumber">휴대폰 번호</label>
                    <div class="alert alert-danger mt-1 py-1" role="alert" th:errors="*{phoneNumber}">
                    </div>
                </div>-->
                <button class="btn btn-primary mt-1 py-3 w-100" type="submit">가입하기</button>
            </form>
            <div class="float-right">
                <a class="btn btn-secondary mt-1 py-1" href="/login" style="float: right">뒤로가기</a>
            </div>
        </div>
    </div>
</section>
</body>
</html>