<html th:replace="~{layout/defaultLayout :: layout (~{::title}, ~{::section})}"
      lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Inside : 로그인</title>
</head>
<body>
<section>
    <div class="row justify-content-center">
        <div class="col-md-6 text-center" style="max-width: 400px">
            <h1 class="my-5 fw-bold">
                <a href="/" class="text-decoration-none text-reset">INSIDE</a>
            </h1>
            <form th:action method="POST" th:object="${loginDto}">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="username" th:field="*{username}" placeholder="아이디">
                    <label for="username">아이디</label>
                    <div class="alert alert-danger mt-1 py-1" role="alert" th:errors="*{username}"></div>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="password" th:field="*{password}" placeholder="비밀번호">
                    <label for="password">비밀번호</label>
                    <div class="alert alert-danger mt-1 py-1" role="alert" th:errors="*{password}"></div>
                </div>
                <div th:if="${#fields.hasGlobalErrors()}">
                    <div class="alert alert-danger mt-1 py-1"  th:each="err : ${#fields.globalErrors()}"
                         th:text="${err}">글로벌 오류 메시지</div>
                </div>
                <div class="d-grid gap-2">
                    <input class="btn btn-primary btn-lg my-3" type="submit" value="로그인">
                </div>
            </form>

            <div>
                    <a href="/oauth2/authorization/google" class="btn w-100 my-1 text-white" style="background-color:#EA4335">구글 아이디로 로그인</a>
                    <a href="/oauth2/authorization/naver" class="btn w-100 my-1 text-white" style="background-color:#00C73C">네이버 아이디로 로그인</a>
            </div>
            <div>
                <a href="/join" style="text-decoration:none">SNS 없이 가입하려면 클릭하세요.</a>
            </div>
        </div>
    </div>
</section>
</body>
</html>